testing/test
testing/test.exe
testing/server
testing/server.exe
testing/client
testing/client.exe
testing/udp_client
testing/udp_client.exe
testing/crypto_test
testing/crypto_test.exe
testing/vec_test
testing/vec_test.exe
testing/file_test
testing/file_test.exe
